html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Josefin Sans, Helvetica Neue, sans-serif; 
 
  background-image: url(/5184157.jpg);
  background-repeat: no-repeat;
     
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.leaflet-container {
  z-index: 0;  
}


/*.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; }

*/

.markercluster-map {
  height: 90vh;
}

.leaflet-popup-content{
  width: auto !important;
}

/*SPINNER */
.spinner {
  border: 4px solid rgb(0,0,0,.1);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border-left-color: #09f;
  position: absolute;
  left:0;
	right:0;
	top:0;
	bottom:0;
  margin: auto;
  animation: spin 1s ease infinite;
  z-index: 1;
}
.leaflet-container {
  z-index: 0 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.dropdown-menu {
  height: 300px;
  overflow-y: scroll;
}


.title-select {
  margin-top: 20px;
  color:black;
}

/*Line Separator Navbar */
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #000000;
  }
}

/*Avatar */
.avatar {
  vertical-align: middle;
  width: 49px;
  height: 49px;
  border-radius: 50%;

}

.carouselitem {
  background-image: url(/12395.jpg);
  background-size: cover;
}

.carouselitem img {
  height:157px; 

}
